$font-family-sans-serif: 'Poppins', sans-serif;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

button {
    text-align: start !important;
    transition: 0.2s;
}

#userBox button:hover {
  color: #fff !important;
  background-color: #000 !important;
}

#sidebar button:hover, button.active {
    color: #000 !important;
    background-color: #fff !important;
}

#sidebar {
    padding: 190px 15px 50px 15px;

    button {
        font-size: 0.8rem;
    }

}

.mainDashBoard.blur {
    filter: blur(7px);
}

@include media-breakpoint-down(lg) {
    #sidebar {
      width: 250px;
      position: fixed;
      transition: 0.5s;
      transform: translateX(-300px);
      &.show {
        transform: translateX(0px);
      }
    }

    #sidebar .btn-group-vertical:first-child {
        margin-top: 100px;
    }
  }

  .card {
    height: 360px;
  }

  .card .card-body img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .box.show {
    display: block;
  }

  .box.hide {
    display: none !important;
  }

  .row .infoBox {
    cursor: pointer;
    transition: 0.2s;
  }

  .row .infoBox:hover {
    color: #fff;
    background-color: #000 !important;
    transform: translateY(-5px);
  }