$font-family-sans-serif: 'Poppins', sans-serif;

$progress-height: 10px;

$table-cell-padding-y: 1rem;
$pagination-padding-x-sm: 1rem;
$pagination-active-bg: #212529;
$pagination-border-color: none;
$pagination-color:#212529;
$pagination-active-color:#fff;
$pagination-hover-bg:#212529;
$pagination-hover-color:#fff;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

button {
    text-align: start !important;
    transition: 0.2s;
}

#userBox button:hover {
  color: #fff !important;
  background-color: #000 !important;
}

#sidebar button:hover, button.active {
    color: #000 !important;
    background-color: #fff !important;
}

#sidebar {
    padding: 190px 15px 50px 15px;

    button {
        font-size: 0.8rem;
    }

}

.mainDashBoard.blur {
    filter: blur(7px);
    user-select: none;
    pointer-events: none;
  }

@include media-breakpoint-down(lg) {
    #sidebar {
      width: 250px;
      position: fixed;
      transition: 0.5s;
      transform: translateX(-300px);
      &.show {
        transform: translateX(0px);
      }
    }
  }

  #userBox .card {
    height: 360px;
  }

  .card .card-body img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .box.show {
    display: block;
  }

  .box.hide {
    display: none !important;
  }

  #report, #invoiceBox .invoiceCard {
    cursor: pointer;
    transition: 0.2s;
  }

  #report:hover {
    transform: translateX(3px);
  }

  .row .infoBox, .row .selectBox, nav #profile, nav a,
  #statisticsBox .progressCard, #userBox .card, #darkmodeBtn, #lightmodeBtn {
    cursor: pointer;
    transition: 0.2s;
  }
  
  #statisticsBox .progressCard:hover, #userBox .card:hover, #invoiceBox .invoiceCard:hover {
    transform: translateY(-5px);
  }

  .row .infoBox:hover {
    color: #fff;
    background-color: #1e1e1e !important;
    transform: translateY(-5px);
  }

  .offcanvas .bgImg {
    background-image: url("./imgs/BG-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
  }

  #aboutCard {
    background: rgba( 100, 100, 100, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .aboutBox p {
    font-size: 12px;
  }

  table tr td:last-child i{
    cursor: pointer;
  }

  .invoicePage.show {
    display: contents;
  }

  .invoicePage.hide {
    display: none;
  }

  .darkmode {
    color: #fff;
    background-color: #212529 !important;
  }

  

  @media screen and (max-width: 1120px) {
    #aboutCard p {
      font-size: 9px;
    }
  }

 @media screen and (max-width: 990px) {
    #empTable img {
      width: 34px;
      height: 34px;
      object-fit: cover;
    }

    #empTable .name {
      font-size: 10px;
    }

    #empTable .role {
      font-size: 6px;
    }

    #empTable i, #empTable .checkIn {
      font-size: 9px;
    }

    #empTable button {
      font-size: 6px;
    }

    .navbar-nav li{
      width: 100%;
      overflow: hidden;
      border-radius: 12px;
      border: 1px solid #00000050;
    }

    .navbar-nav li a:hover{
      color: #fff;
      background-color: #000;
    }

    #navBar .profileBox{
      padding: 9px 0;
      border-radius: 12px;
      border: 1px solid #00000050;
      cursor: pointer;
    }

    #navBar form .profileBox:hover i, #navBar .profileBox:hover{
      color: #fff;
      background-color: #000;
    }

    .offcanvas .bgImg {
      background-image: url("./imgs/BG-1.jpg");
    }

    #sidebar {
      padding: 75px 15px 50px 15px;
    }

    #sidebar .btn-group-vertical:first-child {
      margin-top: 21px;
    }

    #invoiceBox .searchBox {
      width: 100%;
    }
 }

 @media screen and (max-width: 912px) {
  #sidebar {
    padding: 75px 15px 50px 15px;
  }

  #sidebar .btn-group-vertical:first-child {
    margin-top: 21px;
  }

  #aboutCard p {
    font-size: 12px;
  }
 }

 @media screen and (max-width: 540px) {
  #aboutCard h5 {
    font-size: 1rem;
  }

  #aboutCard p {
    font-size: 7px;
  }

  #invoiceBox table{
    font-size: 10px;
  }

  #userBox .card {
    height: 230px;
  }

  #userBox .card img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }

  #userBox .card .content h4{
    font-size: 12px;
    margin: 0;
  }

  #userBox .card .content p{
    font-size: 9px;
  }

  #userBox .card .card-body button{
    font-size: 10px;
    padding: 2px 3px !important;
  }

  .navbar .navbar-toggler {
    height: 43px;
  }

 }