$font-family-sans-serif: 'Poppins', sans-serif;

$progress-height: 10px;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

button {
    text-align: start !important;
    transition: 0.2s;
}

#userBox button:hover {
  color: #fff !important;
  background-color: #000 !important;
}

#sidebar button:hover, button.active {
    color: #000 !important;
    background-color: #fff !important;
}

#sidebar {
    padding: 190px 15px 50px 15px;

    button {
        font-size: 0.8rem;
    }

}

.mainDashBoard.blur {
    filter: blur(7px);
    user-select: none;
    pointer-events: none;
  }

@include media-breakpoint-down(lg) {
    #sidebar {
      width: 250px;
      position: fixed;
      transition: 0.5s;
      transform: translateX(-300px);
      &.show {
        transform: translateX(0px);
      }
    }

    // #sidebar .btn-group-vertical:first-child {
    //     margin-top: 100px;
    // }
  }

  #userBox .card {
    height: 360px;
  }

  .card .card-body img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .box.show {
    display: block;
  }

  .box.hide {
    display: none !important;
  }

  #report {
    cursor: pointer;
    transition: 0.2s;
  }

  #report:hover {
    transform: translateX(3px);
  }

  #statisticsBox .progressCard {
    cursor: pointer;
    transition: 0.2s;
  }

  #statisticsBox .progressCard:hover {
    transform: translateY(-5px);
  }

  .row .infoBox, .row .selectBox, nav #profile {
    cursor: pointer;
    transition: 0.2s;
  }

  .row .infoBox:hover {
    color: #fff;
    background-color: #1e1e1e !important;
    transform: translateY(-5px);
  }

  .offcanvas .bgImg {
    background-image: url("./imgs/BG-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
  }

  #aboutCard {
    background: rgba( 100, 100, 100, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .aboutBox p {
    font-size: 12px;
  }

 @media screen and (max-width: 990px) {
    #empTable img {
      width: 34px;
      height: 34px;
      object-fit: cover;
    }

    #empTable .name {
      font-size: 10px;
    }

    #empTable .role {
      font-size: 6px;
    }

    #empTable i, #empTable .checkIn {
      font-size: 9px;
    }

    #empTable button {
      font-size: 6px;
    }

    .navbar-nav li{
      width: 100%;
      overflow: hidden;
      border-radius: 12px;
      border: 1px solid #00000050;
    }

    .navbar-nav li a:hover{
      color: #fff;
      background-color: #000;
    }

    #navBar form .profileBox{
      padding: 9px 0;
      border-radius: 12px;
      border: 1px solid #00000050;
      cursor: pointer;
    }

    #navBar form .profileBox:hover i, #navBar form .profileBox:hover{
      color: #fff;
      background-color: #000;
    }

    .offcanvas .bgImg {
      background-image: url("./imgs/BG-1.jpg");
    }

    #sidebar .btn-group-vertical:first-child {
      margin-top: 100px;
    }

 }

 @media screen and (max-width: 912px) {
  #sidebar {
    padding: 75px 15px 50px 15px;
  }

  #sidebar .btn-group-vertical:first-child {
    margin-top: 0;
  }
 }